<div class="product-option">
    <label for="quantity"></label>
    <div>
        <div class="qty-selector">
            <button type="button" class="btn-minus">-</button>
                <input
                    type="number"
                    min="1"
                    id="quantity"
                    name="quantity"
                    value="1"
                    form="{{ product_form_id }}"
                    >
            <button type="button" class="btn-plus">+</button>
        </div>
    </div>
</div>