<div class="video-container">
<div class="vid-banner">
 
  <video class="play-items" width="320" height="240" controls>
    <source src="https://cdn.shopify.com/videos/c/o/v/ba8256a064914f9aaa7e5edde979993b.mp4" type="video/mp4">
    <source src="movie.ogg" type="video/ogg"
  </video>
  <section class="text-container">
    <div class="t1-text">
      <h1 class="t2-h2">50% OFF Special offer for VIPs!</h1>
      <p class="t2-p">Limited items, Today only!</p>
      <div class="btn-t1-a">
        <a class="txt-a-link" href="">shop now</a>
      </div>
    </div>
  </section>
 
</div>
</div>


{% schema %}
  {
    "name": "Banner video",
    "settings": [],
    "presets":[
      {
        "name":"Banner video"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}